<%= render "users/unless_login_header" %>
<span style="background-color: #EEEEEEEE; font-size: 24px; margin: 100px 50px 100 50;">このサイトについて
</span>
<br><br><br>
<div align ="center">
<span style="background-color:font-size: 18px;">最近話題の長野県の洋菓子店「ながのCAKE」の通販サイトです。
</span>
</div>

<span style="font-size: 24px; margin: 100px 50px 100 50;">このサイトについて
</span>店舗情報</h3>
<p>
住所：空気の綺麗な長野県の裾野にあります<br>
</p>
