<%= render "admins/tops/header" %>
<span style="background-color: #EEEEEEEE; font-size: 24px; font-weight:bold;">会員一覧</span>
<div class="row" style="margin-top: 20px;">
  <div class=" col-xs-1"></div>
  <div class=" col-xs-10" id="item">
    <%= render 'admins/users/userlist', users: @users %>
  </div>
</div>