<%= render "admins/tops/header" %>
<div style="width:150px; text-align: center; margin:0 auto">
  <h3 style="background-color: #EEEEEEEE">検索結果</h3>
</div>
<div style="height:40px">
</div>

<h4>会員情報</h4>
<div id=item1 style="margin-bottom:50px">
  <%= render 'admins/users/userlist', users: @users %>
</div>

<h4>商品情報</h4>
<div id=item2 >
  <%= render 'admins/products/productlist', products: @products %>
</div>