<div class="col-xs-2">
<div style="border:solid 1px black">
<div style="border-bottom:solid 1px black">
<h4 style="text-align:center"><strong>ジャンル検索</strong></h4>
</div>
<% categories.each do |category| %>
  <% if category.flag == 1 %>
	 <p style="margin: 10px auto"><%= link_to category.name,product_judge_path(id: category.id) %></p>
  <% end %>
<% end %>
</div>
