<%= render "header" %>

<div style="width:150px; text-align: center; margin-left:120px;margin-top:40px">
  <h3 style="background-color: #EEEEEEEE">管理者画面</h3>
</div>
<div style="height:80px">
</div>
<!-- 注文件数表示 -->
<div class="flex">
  <div>
    <h3>本日の注文件数</h3>
  </div>
  <div>
    <h3><%= link_to @order_number.count,admins_order_topjudge_path %>件</h3>
  </div>
</div>
<style>
  .flex {
    display: flex;
  }
  .flex > div {
    margin-left: 50px;
  }
</style>